/****** General ***********/

* {
    
    
    font-family: 'Raleway', sans-serif;
   
        
        box-sizing: border-box;
        font-family: "Raleway";
        margin: 0;
        padding: 0;


}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}


.main-container {
   
    width: 100%;
    padding:  50px;
    box-sizing: border-box;
    padding-bottom: 50px;
}
header {
    padding-bottom: 63px;
}
.logo img {
    width: 61px;

}
nav {
position: absolute;
top: 0px;
right: 16px;
float: right;

}
 
ul{
list-style: none;
margin: 0px;
padding: 0px;

}

li {
    display: inline-block;

}
 a {
display: block;
padding: 35px;
}

nav ul li:first-child a{
position: relative;
    color:#0065FC;
    text-decoration: none;
}

nav ul li:first-child a:hover::before {
    content: "";
display: block;
   position: absolute; 
height: 2px;
    background-color: #0065FC;
    width: 162px; 
   top: 0px;
left: 50%;
transform: translateX(-50%);

}

nav ul li:nth-child(2) a {
    color:black;
text-decoration: none;
}



h1,
    p {
    margin-bottom: 20px;
    margin: 8px;
}

   button{
    display: flex;
    align-items:center;
    padding: 15px 16px 15px 16px ;
    top: 243px;
    left: 290px;
    position:absolute;
    height: 49px;
    gap: 10px;
    color: #F2F2F2;
    background: #0065FC;
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
    
    }
@media (min-width:1025px) {

.fa-solid.fa-magnifying-glass{
color: transparent;
}

}
    

input {

position: absolute;
top: 243px;
left:82px;
height: 49px;
background-color: white;
border: 1px solid #f2f2f2;
font-size: 18px;
}

/**rajouter une marge**/
input::placeholder{
    font-family:'raleway';
font-style: normal;
font-weight: bold;
font-size:18px;
opacity: 1;
text-align: center;

}



.fa-location-dot {
display: flex;
align-items: center;
margin-top: 35px;
height: 49px;
width: 33px;
color: black;
background-color: #F2F2F2;
border-radius: 15px 0px 0px 12px;
padding-left: 10px;

}

.filtre:hover {

    background-color: #DEEBFF;
}

.filtres {
    display: flex;
flex-direction: row;
list-style: none;
margin-top: 49px;
justify-content: flex-start;
font-weight: bold;
}

.filtre {

background-color: white;
border-radius: 25px;
display: flex;
align-items: center;
margin-left: 30px;
padding: 4px 20px 4px 20px;
border: 2px solid #d9d9d9;
height: 48px;
}

.filtre span {

    margin-left: 11px;
}

.filtres h3 {
display: flex;
flex-direction: row;
left: 50px;
align-items: center;
margin-top: 12px;
}

.filtre .economique{

width: 173px;
height: 48px;

}


.filtre .familial {
    width: 134px;
    height: 48px;

}


.filtre .romantique {
    width: 170px;
    height: 48px;

}


.filtre.pépite{
    width: 167px;
    height: 48px;

}

.info {

    padding-top: 53px;
}

.fa-circle-info {
box-sizing: border-box;

align-items: flex-start;
border: 1px solid #d9d9d9;
border-radius: 24px 24px 24px 24px;
color: white;
background-color: #0065FC;

}

.span {

    display: flex;
    align-items: flex-start;
margin-left: 0px;


}



.hébergement-and-populaires title {
    margin: 0;
    font-size: 22px;
}

.card {
    
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    margin: 5px;


}
    .card img {
    object-fit: cover;
width: 100%;

}

.lien-hébergements{
    width: 215px;
    padding: 0px;
    text-decoration: none;
  
    color:black;
}


.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    gap: 50px;   
}


/****** Hebergements ***********/
.hebergements {
    width: 67%;

}


.hébergements-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
padding-left: 45px;
}


.hébergements-cards {
    max-width: 769px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 17px;

margin-left: 30px;
}


.hébergements-cards img {
    height: 124px;
   width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}


.hébergements-cards .card-content {
  
    padding-left: 15px;
    display: flex;
    flex-direction: column;
  justify-content: space-between;
    box-sizing: border-box;
}

.hébergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.hébergements-cards .card-subtitle {
    margin: 0;
}

.hébergements-cards .card-rating {
    margin-bottom: 5px;

}
.Plus  {
    display: flex;
        margin-top:22px ;
    justify-content: flex-start;
    font-weight: bold;
padding: 0px;
margin-left:45px;
text-decoration: none;
color: black;
}
/****** Populaires ***********/
.populaires {
    width: 33%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 134px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/**activités**/


/**activités**/

.activités {
    border-radius: 20px;
    margin-top: 50px;
}



.activités-title  {
   
   
   padding-left: 75px;
}

.cards {
width: 297.5px;
background-color: white;
border-radius: 20px;
filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
margin-left: 30px;
margin-top: 30px;
}
 
.activités-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
margin-right: 105px;
justify-content: space-between;
}

.lien-activités{
width: 297.5px;

padding: 0px;
text-decoration: none;
color: black;
}
.activités-cards img{
height: 380px;
width: 100%;
border-top-left-radius: 20px;
border-top-right-radius: 20px;
object-fit:cover;
}
.activités-cards .card-content{
   
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing:border-box;
}



.activités-cards .card-title {

    padding: 20px 20px 19px 19px;
font-family: 'raleway';
font-weight: bold;
font-size: 16px;

}

/**footer**/
footer {
  display: flex;
 
  justify-content: space-evenly;
  background-color: #f2f2f2;
  padding: 20px;
  margin-top: 65px;
  margin-bottom: -49px;
}

.colonne {
  flex-basis: calc(33.33% - 20px);
 
  
}

.colonne h3 {
padding-bottom: 15px;
   
 
}

.colonne ul {
  list-style: none;
  padding: 0px;
  margin: 0px;

}

.colonne ul li {
  margin-bottom: 10px;
 display:list-item;
 
}

.colonne ul li a {
  color: black;
  text-decoration: none;
  font-weight: 400;
  padding:15px;
  margin-left:-15px;
  display: revert;
}

.colonne ul li div:hover  {
  text-decoration: underline;
}


@media (min-width:1025px){
    .hebergements-and-populaires section {
        background-color: var(--main-bg-color);
        border-radius: 20px;
        
        box-sizing: border-box;
        margin-top: 50px;
        
    }
    .hebergements{
        width: 79%;
    }
    .hébergements-title{
        display: flex;
        justify-content: space-between;
        margin-left: -31px;
        margin-top: 3px;
    }
    .card{
        padding: 5px;
        margin: 5px;
    }
    .lien-hébergements{
        width: 180px;
        padding: 0px;
    }
    .Plus{
        margin-top: 10px;
        padding: 0px;
        margin-left: 13px;
    }
    .hébergements-cards{
    max-width: 101%;
    margin-left: 9px;
    }
    .populaires-title{
        font-size: 15px;
        margin: 5px;
        
    }
    .activités-title{
        padding-left: 14px;

    }
    .activités-cards{
        margin-right: 0px;
        gap: 10px;
       
    }
    .cards{
        width: 100%;
        margin-left: 2px;
        margin-top: 30px;
    }
    .lien-activités{
        width: 100%;
    }
    
    }
@media (min-width:1297px){
    .hébergements-cards{
        width: 850px;
        margin-left: 60px;
    }
.lien-hébergements{
    width: 250px;
}
.hébergements-title{
    margin-left: 20px;

}
.Plus{
    margin-left: 65px;
}
.cards{
    width:300px;

}
.activités-cards{
    justify-content: space-evenly;
}
.activités-title{
    padding-left: 63px;
}

}
/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    
   
    nav {
        position: absolute;
        top: -14px;
        right: 30px;
        float: right;
    }   

        nav ul li:first-child a:hover::before {
            content: "";
        display: block;
           position: absolute; 
        height: 2px;
            background-color: #0065FC;
            width: 162px; 
           top: 14px;
        left: 50%;
        transform: translateX(-50%);
        }

        h1{
            font-size: 22px;
        }

        p {
            font-size: 16px;
        }
    input {
    top: 232px;
    }
    .fa-solid.fa-magnifying-glass{
        color: transparent;
        }
    button {
        top: 232px;
    }
   
    .filtres h3 {
        position:absolute;
        margin-top: -40px;
        left: 55px;
    }

/** changer la width de tous les filtres**/
    .filtre {
    margin-left:15px;
}
.filtres{
    margin-left: -14px;
}
    .filtre.pépite{
        width: 170px;   
    }
    .filtre.economique {
        width: 167px;
    }
    .filtre.familial{
        width: 131px;
    }

    .filtre.romantique {
        width: 164px;
    }
    .info {
        padding-top: 37px;
    }
    .hebergements-and-populaires {
        flex-direction: column;
        gap: 40px;
    }
    
    @media (min-width:768px) {
        
    
        .hebergements-and-populaires section {
        background-color: var(--main-bg-color);
        border-radius: 20px;
        padding: 17px;
        box-sizing: border-box;
        margin-top: 50px;
    }
}
    .hébergements-title{
        margin-left: 19px;
        padding-left:0px;
    }
.hébergements-cards{
    max-width: 88%;
    display: flex;
    flex-wrap: wrap;
margin-top: 17px;
margin-left: 10px;
}

    .hebergements {
        width: 100%;
        
    }
.hébergements-cards .card-content{
    padding-left: 8px;
}
.lien-hébergements{
    width: 200px;
}
.hébergements-cards .card{
    margin: 5px ;
}
.Plus{
    padding-left: 0px;
    margin-left:19px;
}
    .populaires {
        width: 100%;
        margin-top: 50px;
        background-color: #F2F2F2;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
    .activités-title {
        padding-left: 30px;
    }
    .lien-activités {
        width: 100%;
    }
    .activités-cards img {
        height: 200px;
    }
    .activités-cards{
        margin-right: 15px;
    }
    .activités .cards {
        width: 193.5px;
        margin-left: 9px;
        margin-top: 30px;
        height: 268px;
    }
}

/* Small devices (phones, less than 768px) */
@media  (max-width: 767.98px) {
    .main-container{
        overflow-x: hidden;
    }
    .logo img {
        position:absolute; 
        left:42%;
        top: 30px;
    }

    nav {
        position: absolute;
        right: 51px;
        float: right;
        top:30px
        }
         
  nav ul li:first-child a:hover::before {
    content: "";
display: block;
   position: absolute; 
height: 2px;
    background-color: #0065FC;
    width: 185px; 
left: 47%;
transform: translateX(-50%);
top:64%;
}
nav ul li:last-child a:hover::before{
    content: "";
    display: block;
       position: absolute; 
    height: 2px;
        background-color: #F2F2F2;
        width: 195px; 
    left: 86%;
    transform: translateX(-50%);
    top:64%;
}
.info{
    padding-top: 35px;
}
.info .span {
    top:20px;
 
}
h1 {
    font-size: 22px;
    width: 342px;
    margin-left: -13px;
}
    p{
        width: 305px;
        margin-left: -13px;
    }
    input{
        top:239px;
        left: 92px;
        margin-left: -17px;
    }
.fa-location-dot{
    margin-top: 39px;
    border-radius: 15px 0px 0px 15px;
   width: 45px;
}
    button{
        top:239px;
  width: 50px;
  border-radius: 15px 15px 15px 15px;
    }

    button span{
        text-indent: -9999px;
    }
    .phone-icone{
         color: #F2F2F2;
        top: 255px;
        left: 306px;
        position: absolute;
    }
    .fa-solid.fa-magnifying-glass{
        color:#f2f2f2
    }
   .filtres h3 {
        margin-top: -20px;
        left: 25px;
        font-size: 18px;
    }
    .filtre{
        margin-left: 19px;
        margin-top: 15px;
    }
    .filtres{
        margin-top: 75px;
        min-width: 375px;
        flex-wrap: wrap;
        margin-left: -52px;
        font-size: 14px;
    }
    .filtre.economique{
        width: 160px;
    }
    .filtre.familial{
        width: 160px;
    }
    .filtre.pépite{
        width: 160px;
    }
.info i {
font-size: 24px;
}
.info{
    display: flex;
    align-items: center;
    width: 335px;
    margin-left: -23px;
    gap: 10px;
}

    .hebergements-and-populaires {
        flex-direction: column-reverse;
        flex-wrap: nowrap;
        
    }
h2 {
    margin-bottom: 10px;
    margin-left: 15px;
}
    .hebergements{
        width: 100%;
    }
    .hebergements-and-populaires section{
        
padding: 17px;
box-sizing: border-box;
margin-top: 50px;
    }
    .hebergements section{
        background: none;
    }
    .populaires section {
        background-color: white;
        border-radius: 0;
    }


.card{
    width: 335px;
}
.hébergements-cards{
    margin-left: -45px;
}
.lien-hébergements{
    width: 100%;
}
.hébergements-title{
    width: 383px;
    margin-left: -54px;
}
.hébergements-title h2{
    margin-bottom: 0px;
}
.Plus{
    margin-top: 8px;
    margin-left: -35px;
    font-size: 18px;
}
    .populaires {

width: 375px;
margin-left: -50px;
padding-left: 30px;
    }
    
    .populaires-cards{
        display: flex;
        flex-direction: column;
        margin-left: 50px;
        
    }
    .activités{
        margin-left: -30px;
    }
    .populaires-cards .card{
        width: auto;
    margin-left: -40px;
    margin-top: 0px;
    }
    .activités-cards {
        flex-direction: column;
        margin-left: -50px;
    }
    .activités .cards{
        width: 315px;
        margin-left: 61px;
    }
    .lien-activités{
        width: 100%;
    }
    .activités-title{
        margin-left: -30px;
        width: 280px;
    }
    footer{
        width: 375px;
        margin-left: -50px;
        flex-direction: column;
    }
    .colonne {
        padding-bottom: 20px;
    }
    .colonne ul li a {
       display: revert;
    }
}
@media  (min-width: 320px)and (max-width:380px){
    .logo img{
        left: 43%;
    }
    nav{
        right: 0px;
    }
h1{
    margin-left: -30px;
}
p{
    margin-left: -28px;
}
.fa-location-dot{
    margin-left: -25px;
    padding-left: 15px;
}
input{
    margin-left: -25px;
}
button{
    left: 265px;
}
.phone-icone{
    left: 282px;
}
.filtres{
    margin-left: -68px;

}
.filtre.economique{
    width: 150px;
}
.filtre.familial{
    width: 150px;
}
.filtre.pépite{
    width: 150px;
}
.filtre.romantique{
    width: 150px;
}
.info{
    font-size: 15px;
    margin-left: -46px;
}
.populaires {
    margin-left: -50px;
    border-radius: 0px;
}
.populaires-title{
    gap: 15px;
    justify-content: space-evenly;
    margin-left: -52px;
}
.populaires-cards{
    margin-left: 24px;
}
.populaires-cards .card{
    width: 95%;
    margin-left: -31px;
}
.hébergements-title{
    margin-left: -68px;
}
.hébergements-cards{
    margin-left: -60px;
width: 306px;
}
.card{
    width: 300px;
}
.activités-cards{
    margin-left: -61px;
}
h2{
    margin-left: 13px;
}
.activités  .cards{
    width: 100%;
    margin-left: 55px;
}
}

@media (min-width:380px) and (max-width:400px){
  
    .populaires-title{
    justify-content: start;
    gap: 160px;
   }
   .populaires{
    width: 720px;
    margin-left:-50px;
   } 
   footer{
    width: 720px;
    margin-left: -50px;
   }
   .populaires-cards .card{
    width: 54%;
    margin-left: -40px;
   }
.fa-solid.fa-chart-line{
    margin-left: 20px;
}
.activités{
    margin-left: -30px;
}
}

@media (min-width:460px)and (max-width:639px){
    nav{
        right: 94px;
    }
h1{
    margin-left: 20px;
}
p{
    margin-left:20px;
}

.fa-location-dot{
    margin-left: 18px;
}
input {
    margin-left:13px;
}
button{
    margin-left: 33px;
}
.phone-icone{
    left: 340px;
}
.filtres h3{
    left: 70px;
}
.filtres{
    margin-left: 0px;
}
.info{
    margin-left: 20px;
}
.hébergements-cards{
    margin-left: 0px;
}
.hébergements-title{
    margin-left: 0px;
}
.Plus{
    margin-left: 5px;
}
.activités-cards{
    margin-left: -2px;
}
.activités-title{
margin-left: 18px;
}
}

@media(min-width:641px)and (max-width:767px){
    nav{
        right: 192px;
        font-size: 18px;
    }
h1{
    margin-left: 96px;
}
p{
    margin-left:95px;
}

.fa-location-dot{
    margin-left: 96px;
}
input {
    margin-left:94px;
}
button{
    margin-left: 94px;
}
.phone-icone{
    left: 400px;
}
.filtres h3{
    left: 146px;
}
.filtres{
    margin-left: 19%;
}
.info{
    margin-left: 95px;
}
.populaires-title{
    gap: 150px;

}
.fa-solid.fa-chart-line{
    margin-left: -93px;
}
h2{
    margin-left: 146px;
}
.populaires-cards{
    margin-left: 100px;
}
.populaires-cards .card{
    margin-left: 46px;
}
.hébergements-cards{
    margin-left: 82px;
}
.hébergements-title{
    margin-left: -50px;
    width: 460px;
}
.Plus{
    margin-left: 88px;
}
.activités-cards{
    margin-left: -2px;
}
.activités-title{
margin-left: -36px;
width: 460px;
}
.activités-cards{
    margin-left: 80px;
}
}

  

@media (min-width:678px) and (max-width:1023px) {
    .hébergements-cards{
        max-width: 471%;
        margin-left: -15px;

    }
    .hébergements-cards .card{
        margin-left: 7px;
    }

    .lien-hébergements{
        width: 194px;
    }
    .populaires-cards{
        margin-left: 16px;
    }
  
    
}
 @media (min-width:769px) and (max-width:829px){
    .hébergements-cards{
        margin-left: 0px;
    }
}