/****** General ***********/

* {
    
    position: flex;
    font-family: 'Raleway', sans-serif;
    justify-content: center;
        max-width: 1440px;
        box-sizing: border-box;
        font-family: "Raleway";
        margin: 0;
        padding: 0;


}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
   
    width: 100%;
    max-width: 1440px;
    padding:  50px;
    box-sizing: border-box;
    padding-bottom: 50px;
}
header {
    padding-bottom: 63px;
}

nav {
position: absolute;
top:48px;
right:570px;
float: right;

}
 
ul{
list-style: none;
margin: 0px;
padding: 0px;

}

li {
    display: inline-block;

}
a {
display: block;
padding: 35px;
}

nav ul li:first-child a{
position: relative;
    color:#0065FC;
size: 16px;

}

nav ul li:first-child a:hover::before {
    content: "";
display: block;
   position: absolute; 
height: 2px;
    background-color: #0065FC;
    width: 162px; 
   bottom: 64px;
left: 50%;
transform: translateX(-50%);
}

nav ul li:nth-child(2) a {
    color:black;
size: 16px;
}



h1,
    p {
    margin-bottom: 20px;
    margin: 8px;
}

   button{
    display: flex;
    flex-direction: row;
    align-items:center;
    padding: 15px 16px 15px 16px ;
    margin-top: 20px;
    
    position:absolute;
    height: 5px;
    width: 132px;
    left: 360px;
    top: 240px;
    gap: 10px;
    
    color: #F2F2F2;
    background: #0065FC;
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
    
    }

input {
display: flex;
flex-direction: row;
padding-right: 30px;
margin-top: 20px;
position: absolute;

top: 240px;
left:80px;
height: 31px;
width: 282px;

background-color: white;
border: 1px solid #f2f2f2;
font-size: 18px;
}

/**rajouter une marge**/
input::placeholder{
    font-family:'raleway';
font-style: normal;
font-weight: bold;
font-size:18px;
opacity: 1;
text-align: center;

}



.fa-location-dot {
display: flex;
flex-direction: row;
align-items: center;
margin-top: 20px;
position: absolute;

height: 31px;
width: 35px;
left: 48px;
top:240px;

    color: black;
background-color: #F2F2F2;
border-radius: 15px 0px 0px 12px;

}

.filtre:hover {

    background-color: #DEEBFF;
}

.filtres {
    display: flex;
flex-direction: row;
list-style: none;
margin-top: 80px;
justify-content: flex-start;
font-weight: bold;
}

.filtre {

background-color: white;
border-radius: 25px;
display: flex;
align-items: center;
margin-left: 30px;
padding: 4px 20px 4px 20px;
border: 2px solid #d9d9d9;
}

.filtre span {

    margin-left: 20px;
}

b {
display: flex;
flex-direction: row;
left: 50px;
align-items: center;
}

.filtre.economique{

width: 175px;
height: 48px;

}


.filtre.familial {
    width: 136px;
    height: 48px;

}


.filtre.romantique {
    width: 172px;
    height: 48px;

}


.filtre.animaux{
    width: 226px;
    height: 48px;

}

.info {

    padding-top: 53px;
}

.fa-circle-info {
box-sizing: border-box;

align-items: flex-start;
border: 1px solid #d9d9d9;
border-radius: 24px 24px 24px 24px;
color: white;
background-color: #0065FC;

}

.span {

    display: flex;
    align-items: flex-start;
margin-left: 0px;


}



.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));

}

.card img {
    object-fit: cover;
}


.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
    margin-top: 50px;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;

}


.hébergements-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hébergements-cards  {
    display: flex;
    margin-top: 33px;
justify-content: flex-start;
}

.hébergements-cards img {
    width: 100%;
    height: 134px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hébergements-cards .card-content {
    
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.hébergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.hébergements-cards .card-subtitle {
    margin: 0;
}

.hébergements-cards .card-rating {
    margin-bottom: 5px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 134px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}



