/****** General ***********/

* {
    
    
    font-family: 'Raleway', sans-serif;
    justify-content: center;
        max-width: 1440px;
        box-sizing: border-box;
        font-family: "Raleway";
        margin: 0;
        padding: 0;


}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
   
    width: 100%;
    padding:  50px;
    box-sizing: border-box;
    padding-bottom: 50px;
}
header {
    padding-bottom: 63px;
}
.logo img {
    width: 61px;

}
nav {
position: absolute;
top: 0px;
right: 512px;
float: right;

}
 
ul{
list-style: none;
margin: 0px;
padding: 0px;

}

li {
    display: inline-block;

}
a {
display: block;
padding: 35px;
}

nav ul li:first-child a{
position: relative;
    color:#0065FC;
}

nav ul li:first-child a:hover::before {
    content: "";
display: block;
   position: absolute; 
height: 2px;
    background-color: #0065FC;
    width: 162px; 
   top: 0px;
left: 50%;
transform: translateX(-50%);
}

nav ul li:nth-child(2) a {
    color:black;
size: 16px;
}



h1,
    p {
    margin-bottom: 20px;
    margin: 8px;
}

   button{
    display: flex;
    align-items:center;
    padding: 15px 16px 15px 16px ;
    top: 243px;
    left: 290px;
    position:absolute;
    height: 49px;
    gap: 10px;
    color: #F2F2F2;
    background: #0065FC;
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
    
    }
@media (min-width:1025px) {

.fa-solid.fa-magnifying-glass{
color: transparent;
}

}
    

input {

position: absolute;
top: 243px;
left:82px;
height: 49px;
background-color: white;
border: 1px solid #f2f2f2;
font-size: 18px;
}

/**rajouter une marge**/
input::placeholder{
    font-family:'raleway';
font-style: normal;
font-weight: bold;
font-size:18px;
opacity: 1;
text-align: center;

}



.fa-location-dot {
display: flex;
align-items: center;
margin-top: 35px;
height: 49px;
width: 33px;
color: black;
background-color: #F2F2F2;
border-radius: 15px 0px 0px 12px;

}

.filtre:hover {

    background-color: #DEEBFF;
}

.filtres {
    display: flex;
flex-direction: row;
list-style: none;
margin-top: 80px;
justify-content: flex-start;
font-weight: bold;
}

.filtre {

background-color: white;
border-radius: 25px;
display: flex;
align-items: center;
margin-left: 30px;
padding: 4px 20px 4px 20px;
border: 2px solid #d9d9d9;
}

.filtre span {

    margin-left: 20px;
}

b {
display: flex;
flex-direction: row;
left: 50px;
align-items: center;
}

.filtre.economique{

width: 175px;
height: 48px;

}


.filtre.familial {
    width: 136px;
    height: 48px;

}


.filtre.romantique {
    width: 172px;
    height: 48px;

}


.filtre.pépite{
    width: 226px;
    height: 48px;

}

.info {

    padding-top: 53px;
}

.fa-circle-info {
box-sizing: border-box;

align-items: flex-start;
border: 1px solid #d9d9d9;
border-radius: 24px 24px 24px 24px;
color: white;
background-color: #0065FC;

}

.span {

    display: flex;
    align-items: flex-start;
margin-left: 0px;


}



.hébergement-and-populaires title {
    margin: 0;
    font-size: 22px;
}

.card {
    width:auto;
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    margin: 6px;


}
    .card img {
    object-fit: cover;
width: 100%;

}

.lien-hébergements{
    width: 240px;
}


.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    
gap: 40px;
}
@media (min-width:1025px) {
.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
    margin-top: 50px;
}
}
/****** Hebergements ***********/
.hebergements {
    width: 65%;

}


.hébergements-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
padding-left: 30px;
}


.hébergements-cards {
    max-width: auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 33px;

}


.hébergements-cards img {
    height: 124px;
   width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}


.hébergements-cards .card-content {
  
    padding-left: 15px;
    display: flex;
    flex-direction: column;
  justify-content: space-between;
    box-sizing: border-box;
}

.hébergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.hébergements-cards .card-subtitle {
    margin: 0;
}

.hébergements-cards .card-rating {
    margin-bottom: 5px;

}
.Plus  {
    display: flex;
        margin-top:40px ;
    justify-content: flex-start;
    font-weight: bold;
padding-left: 30px;
}
/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 134px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}


/**activités**/

.activités {
    border-radius: 20px;
    margin-top: 50px;
}



.activités-title  {
   
   align-items: flex-start;
   padding-left: 50px;
}

.cards {
width: 297.5px;
background-color: white;
border-radius: 20px;
filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
margin-left: 20px;
margin-top: 30px;
}
 
.activités-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
margin-right: 25px;

}

.lien-activités{
width: 297.5px;

}
.activités-cards img{
height: 380px;
width: 100%;
border-top-left-radius: 20px;
border-top-right-radius: 20px;
object-fit:cover;
}
.activités-cards .card-content{
   
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing:border-box;
}



.activités-cards .card-title {

    padding: 20px 20px 19px 19px;
font-family: 'raleway';
font-weight: bold;
font-size: 16px;

}

/**footer**/
footer {
  display: flex;
 
  justify-content: space-evenly;
  background-color: #f2f2f2;
  padding: 20px;
  margin-top: 65px;
  margin-bottom: -49px;
}

.colonne {
  flex-basis: calc(33.33% - 20px);
 
  
}

.colonne h3 {
padding-bottom: 15px;
   
 
}

.colonne ul {
  list-style: none;
  padding: 0px;
  margin: 0px;

}

.colonne ul li {
  margin-bottom: 10px;
 display:list-item;
 
}

.colonne ul li div {
  color: black;
  text-decoration: none;
  font-weight: 400;
}

.colonne ul li div:hover  {
  text-decoration: underline;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    
   
    nav {
        position: absolute;
        top: 0px;
        right: 30px;
        float: right;
    }   

        nav ul li:first-child a:hover::before {
            content: "";
        display: block;
           position: absolute; 
        height: 2px;
            background-color: #0065FC;
            width: 162px; 
           top: 0px;
        left: 50%;
        transform: translateX(-50%);
        }
    input {
    top: 280px;
    }
    .fa-solid.fa-magnifying-glass{
        color: transparent;
        }
    button {
        top: 280px;
    }
   
    b {
        position:absolute;
        margin-top: -40px;
        left: 55px;
    }

/** changer la width de tous les filtres**/
    .filtre {
    margin-left:15px;
}
    .filtre.pépite{
        width: 170px;   
    }
    .filtre.economique {
        width: 167px;
    }
    .filtre.familial{
        width: 131px;
    }

    .filtre.romantique {
        width: 164px;
    }
    .info {
        padding-top: 37px;
    }
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }
.hébergements-cards .card-content{
    padding-left: 8px;
}
.lien-hébergements{
    width: 180px;
}
    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
    .activités-title {
        padding-left: 20px;
    }
    .lien-activités {
        width: 193.5px;
    }
    .activités-cards img {
        height: 200px;
    }
    
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    
    .logo img {
        position:absolute; 
        left:40%;
        top: 30px;
    }

    nav {
        position: absolute;
        right: 51px;
        float: right;
        top:30px
        }
         
  nav ul li:first-child a:hover::before {
    content: "";
display: block;
   position: absolute; 
height: 2px;
    background-color: #0065FC;
    width: 193px; 
left: 35%;
transform: translateX(-50%);
top:64%;
}
h1 {
    font-size: 22px;
    width: 332px;
}
    p{
        width: 332px;
    }
    input{
        top:239px;
        left: 92px;
    }
.fa-location-dot{
    margin-top: 39px;
    border-radius: 15px 0px 0px 15px;
   width: 45px;
}
    button{
        top:239px;
  width: 50px;
  border-radius: 15px 15px 15px 15px;
    }

    button p{
        text-indent: -9999px;
    }
    .phone-icone{
         color: #F2F2F2;
        top: 255px;
        left: 306px;
        position: absolute;
    }
    .fa-solid.fa-magnifying-glass{
        color:#f2f2f2
    }
    .filtre{
        margin-left: 19px;
        margin-top: 15px;
    }
    .filtres{
        margin-top: 75px;
        min-width: 375px;
        flex-wrap: wrap;
        margin-left: -42px;
        font-size: 14px;
    }
    .filtre.economique{
        width: 160px;
    }
    .filtre.familial{
        width: 160px;
    }
    .filtre.pépite{
        width: 160px;
    }

    .hebergements-and-populaires {
        flex-direction: column-reverse;
        flex-wrap: nowrap;
        
    }
h2 {
    margin-bottom: 15px;
}
    .hebergements{
        width: 100%;
        
    }
.card{
    width: 335px;
}
.lien-hébergements{
    width: 100%;
}
.hébergements-title{
    width: 334px;
    margin-left: -37px;
}
.hébergements-title h2{
    margin-bottom: 0px;
}
.Plus{
    margin-top: 15px;
    margin-left: -20px;
}
    .populaires {
width: 100%;
margin-top: 50px;
background-color: var(--main-bg-color);
padding: 30px 20px 30px 20px;
height: 596px;
width: 375px;
margin-left: -50px;
padding-left: 35px;
    }
    
    .populaires-cards{
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        
    }
    .activités{
        margin-left: -30px;
    }
    .populaires-cards .card{
        width: auto;
    margin-left: -40px;
    margin-top: 0px;
    }
    .activités-cards {
        flex-direction: column;
    }
    .lien-activités{
        width: 100%;
    }
    .activités-title{
        margin-left: 25px;
    }
    footer{
        width: 375px;
        margin-left: -50px;
        flex-direction: column;
    }
    .colonne {
        padding-bottom: 20px;
    }
}
